---
---

.github-btn {
  display: inline-block;
  height: 30px;
  font: bold 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;

  a, span {
    float: left;
  }

  a {
    padding: 3px 10px 3px 8px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 4px;

    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
  }

  a:first-child {
    background-color: #eee;
    background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
    background-repeat: no-repeat;
    border: 1px solid #d4d4d4;

    &:hover, &:focus {
      background-color: #ddd;
      background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
    }

    &:active {
      background-image: none;
      background-color: #dcdcdc;
      border-color: #b5b5b5;
      box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
    }

    span {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  a:first-child + a {
    position: relative;
    margin-left: 6px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;

    &:hover, &:focus {
      color: #4183C4;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    &:before {
      top: 50%;
      left: -5px;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
      border-right-color: #fafafa;
    }
    &:after {
      top: 50%;
      left: -6px;
      margin-top: -7px;
      border-width: 7px 7px 7px 0;
      border-right-color: #d4d4d4;
      z-index: -1;
    }
  }
}
